body {
    font-family: Arial, sans-serif;
    background-image: url('https://t4.ftcdn.net/jpg/01/31/49/59/360_F_131495901_xJVJdYoLiMM5VCFJEesLoO0IU0sJc5KQ.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(252, 249, 249, 0.87); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

p {
    font-size: 18px;
    color: #555;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e2e2e2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}



